*.o
*.hi
*.dyn_hi
*.dyn_o
Grammar/SafeAG/Examples/PrettyPrinting.hs
Grammar/SafeAG/Examples/Binary.hs
Grammar/SafeAG/Examples/Repmin.hs
Grammar/SafeAG/Examples/Brackets.hs
Grammar/SafeAG/TH/TestApplicative.hs
